.portada {
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    grid-template-rows: 0.2fr 1fr 0.1fr 3fr 0.1fr;
    margin: 0 auto;
    padding: 1em;     

    &__h1 {
        grid-column: 1 / 4;        
        grid-row: 1 / 2;
        margin: 0;
        color: $secondary-text-color;
        font-size: calc(2em + 7vw);                
    }

    &__hr {
        opacity: 0;
    }

    &__square1, &__square2, &__square3 {
        display: none;
    }

    &__p {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin-bottom: 1em;
        line-height: 1.3;
    }

    &__a {
        display: block;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        margin-bottom: 2em;                
        color: $main-text-color;        
        font-weight: bold; 
        text-decoration: none;
        text-transform: uppercase;      
    }

    &__img {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__location {
        grid-column: 1 / 1;
        grid-row: 5 / 6;       
        font-size: 0.8em;
        font-weight: bold;        
        line-height: 1.5;
        text-transform: uppercase;       

        &--a {
            margin: auto;
            color: $secondary-text-color;
            text-decoration: none;

            &:hover {
                color: $secondary-text-color;
            }
        }
    }

    &__button {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        border: 0;
        background-color: $secondary-text-color;
        color: $main-color;        
        cursor: pointer;

        &:hover {
            background-color: $secondary-text-color-hover;
            color: $secondary-text-color;
        }
    }

    &__i {
        color: $main-color;
    }

    &__members {
        display: flex;
        grid-column: 3 / 4;
        grid-row: 5 / 6;
        align-content: center;
        justify-content: center;    
        background: $main-color;
        text-align: center;        

        &:hover {
            background-color: $main-color-hover;
        }

        &--a {
            margin: auto;
            color: $secondary-text-color;

            &:hover {
                color: $secondary-text-color;
            }
        }
    }

    @supports (display:grid) {
        @media (min-width: $xl-width) { 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr minmax(5em, 1fr) fit-content(28em) calc(2em + 0.5vw);
            grid-template-rows: 40vh 40vh 10vh 10vh 10vh; 
            max-width: none;
            padding: 0;               

            &__h1 {
                z-index: 2;
                grid-column: 5 / 10;
                grid-row: 1 / 2;  
                margin-bottom: initial;              
                padding-left: 0.25em;                
                font-size: calc(3em + 7vw);
            }

            &__hr {
                grid-column: 8 / 9;
                grid-row: 2;
                width: 20ch;
                height: 6px;
                border: 0;
                opacity: 1;
                background-color: $secondary-text-color;                              
            }

            &__p {
                grid-column: 8 / 9;
                grid-row: 2;
                align-self: end;
                margin-bottom: initial;
                padding-bottom: 4vh;               
            }

            &__a {
                grid-column: 8 / 9;
                justify-self: end;
                align-self: center;
                margin-bottom: initial;
        
                &::before {
                    content: '';
                    display: block;
                    width: 4ch;
                    height: 4px;
                    margin-bottom: 1em;
                    background-color: $secondary-text-color;                  
                }

                &:hover {
                    color: $secondary-text-color;
                }
            }

            &__img{
                grid-column: 1 / 7;
                grid-row: 1 / 5;
            }

            &__location {
                display: flex;
                z-index: 2;                
                grid-column: 6 / 7;
                grid-row: 3 / 4;                
                background: $main-color;
                text-align: center;                

                &:hover {
                    background-color: $main-color-hover;
                }
            }

            &__members {
                z-index: 2;
                grid-column: 4 / 5;
                grid-row: 3 / 4;                
                font-size: 2.5em;
            }

            &__button {
                position: initial;
                grid-column: 5 / 6;
                grid-row: 4 / 5;                
                padding: 0;
                font-size: 2.5em;
            }

            &__square1 {
                display: block;
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                background-color: $secondary-text-color-hover;                
            }

            &__square2 {
                display: block;
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                background: $main-color-hover;                
            }

            &__square3 {
                display: block;
                grid-column: 3 / 4;
                grid-row: 4 / 5;
                background-color: $secondary-text-color-hover;                
            }
        }
    }

    @supports (not (display:grid)) {
        max-width: 800px;

        &__img {
            display: block;
            width: 50%;
            height: auto;
            margin-right: auto;
            margin-left: auto;           
        }

        &__location {
            display: block;
            width: 50%;
            margin-right: auto;
            margin-left: auto;            
        }

        &__members {
            display: flex;
            width: 50%;
            margin-right: auto;
            margin-left: auto;           

            &--a {
                margin: 0;
            }
        }

        &__button {
            display: block;
            width: 50%;
            margin-right: auto;
            margin-left: auto;          
        }
    }
}
