.information {
    &__figure {
        margin: 0;

        &--img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }  

    .article {
        max-width: 800px;
        margin: 0 auto;
        padding: 1em;

        &__hr{
            margin: 2em 0;
        }

        .containerquote {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;                        
            align-items: center;

            @media (min-width: $xl-width) {
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr;
            }

            &__blockquote{
                width: 90%;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 15px 30px;
                border-left: 4px solid $secondary-text-color;
                background-color: $secondary-color;                
                text-align: left;
    
                &--p {
                    font-size: 1.1em;
                }
            }

            &__p {
                margin-top: 15px;
                margin-bottom: 15px;
                text-align: justify;
            }
        }

        &__h1 {
            color: $secondary-text-color;
            font-size: calc(1em + 2vw);            
        }  
        
        .clublist {
            padding-left: 10px;
            list-style-type: none;         
            font-size: 14px;
            line-height: 18px;
            counter-reset: li;          

            &__li {
                position: relative;   
                padding: 5px 0 5px 30px;
        
                &::before {
                    content: counter(li);
                    position: absolute;
                    top: 4px;    
                    left: 0;
                    width: 20px;
                    height: 20px;                                     
                    border: 1px solid gray;
                    border-radius: 50%;   
                    color: black;
                    text-align: center;                 
                    counter-increment: li;                               
                }
            }
        }

        &__p {
            text-align: justify;
        }
    
        &__figure {
            &--img {
                width: 100%;
            }            
        }        

        .contact {
            margin: 2em 0;
        }       
    }      
}