.members {
    width: 100%;
    max-width: 92%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 4%;
    padding-left: 4%;
    text-align: justify;

    &__h1 {
        text-align: center;
        color: $secondary-text-color;
        font-size: calc(0.5em + 2vw);
        margin: 0.8em;
    }

    &__div{
        display: flex;
        justify-content: center;        
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;

        @media (min-width: $xl-width) {
            flex-direction: row;
        }
    }

    &__article {
        flex-basis: 33.33%;
        text-align: center;

        &__img {
            width: 80%;
        }

        &__p {
            padding: 0 5%;
        }
    }
}