.members {
    width: 100%;
    max-width: 92%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 4%;
    padding-left: 4%;
    text-align: justify;

    &__h1 {
        margin: 0.8em;
        color: $secondary-text-color;
        font-size: calc(1em + 2vw);
        text-align: center;       
                
    }

    &__div{
        display: flex;
        flex-flow: column wrap;  
        align-content: space-between;     
        justify-content: center;           

        @media (min-width: $xl-width) {
            flex-direction: row;
        }
    }

    &__article {
        flex-basis: 33.33%;
        text-align: center;

        &--figure {
            width: 80%;
            margin: auto;
        }

        &--p {
            padding: 0 5%;
        }

        &--h2 {
            font-weight: bold;
        }
    }
}